<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demoone.bussiness.xly.mapper.DataRoomDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.demoone.bussiness.xly.entity.DataRoom">
        <id column="rid" property="rid" />
        <result column="no" property="no" />
        <result column="state" property="state" />
        <result column="full_num" property="fullNum" />
        <result column="existing_num" property="existingNum" />
        <result column="create_time" property="createTime" />
        <result column="modify_time" property="modifyTime" />
        <result column="delete_state" property="deleteState" />
    </resultMap>




    <select id="queryRoomInfo" parameterType="com.demoone.bussiness.xly.vo.QueryRoomInfoVo" resultType="com.demoone.bussiness.xly.vo.RoomInfoVo">
        select * from data_room
        <where>
            delete_state=0
            <if test="no!=null and no!=''">
                and no=#{no}
            </if>
            <if test="state!=null and state!=''">
                and state=#{state}
            </if>

        </where>
    </select>


    <select id="queryRoomNo" parameterType="com.demoone.bussiness.xly.entity.DataRoom" resultType="com.demoone.bussiness.xly.vo.DataStudentInfoVo">
        select * from data_student
        <where>
            delete_state=0
            <if test="rid!=null and rid!='' ">
                and room_no=#{rid}
            </if>
        </where>
    </select>

    <select id="queryRoomNoList" parameterType="com.demoone.bussiness.xly.entity.DataRoom" resultType="com.demoone.bussiness.xly.entity.DataRoom">
        select * from data_room
        <where>
            delete_state=0
            <if test="no!=null and no!=''">
                and no=#{no}
            </if>
        </where>
    </select>


    <update id="deleteRoom" parameterType="java.lang.String">
        update data_room set delete_state=1 where rid
        in (
        <foreach collection="rid" item="item" index="" separator=",">
            #{item}
        </foreach>
        )
    </update>
</mapper>
