<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demoone.bussiness.xly.mapper.DataCoachDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.demoone.bussiness.xly.entity.DataCoach">
        <id column="cid" property="cid" />
        <result column="name" property="name" />
        <result column="sex" property="sex" />
        <result column="position" property="position" />
        <result column="state" property="state" />
        <result column="phone" property="phone" />
        <result column="create_time" property="createTime" />
        <result column="modify_time" property="modifyTime" />
    </resultMap>



    <select id="queryCoachInfo" parameterType="com.demoone.bussiness.xly.vo.QueryCoachInfoVo" resultType="com.demoone.bussiness.xly.vo.CoachInfoVo">
        select * from data_coach
        <where>
            <if test="name!=null and name!=''">
                and name=#{name}
            </if>
            <if test="sex!=null">
                and sex=#{sex}
            </if>
            <if test="position!=null and position!=''">
                and position=#{position}
            </if>
            <if test="state!=null and state!=''">
                and state=#{state}
            </if>

        </where>
    </select>
</mapper>
