<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demoone.bussiness.xly.mapper.DataRoomDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.demoone.bussiness.xly.entity.DataRoom">
        <id column="rid" property="rid" />
        <result column="no" property="no" />
        <result column="state" property="state" />
        <result column="full_num" property="fullNum" />
        <result column="existing_num" property="existingNum" />
        <result column="create_time" property="createTime" />
        <result column="modify_time" property="modifyTime" />
    </resultMap>




    <select id="queryCoachInfo" parameterType="com.demoone.bussiness.xly.vo.QueryRoomInfoVo" resultType="com.demoone.bussiness.xly.vo.RoomInfoVo">
        select * from Room
        <where>
            <if test="no!=null and no!=''">
                and no=#{no}
            </if>
            <if test="state!=nulland state!=''">
                and state=#{state}
            </if>

        </where>
    </select>

</mapper>
